<#import "layout/layout.ftl" as layout/>
<@layout.page selId="applications">
<div class="main-container">
    <div class="ebor-page-wrapper">
        <a id="home" class="in-page-link" href="#"></a>
        <section class="vc_row wpb_row vc_row-fluid applicatio-section light-wrapper vc_row wpb_row vc_row-fluid applicatio-section  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="conyainer">
                                            <div class="col-sm-12">
                                                <h1>FLAVORS &amp; INGREDIENTS</h1>
                                                <p>Designing Signature Taste Experiences in Food and Beverage Products with Our Customized 6,000+ Natural Flavors and Ingredients</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid flavor-porfolio light-wrapper vc_row wpb_row vc_row-fluid flavor-porfolio  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <h1>香精产品分类</h1>

                                            <div class="col-sm-6 col-md-3 col-xs-5">
                                                <ul>
                                                    <li>奶制品</li>
                                                    <li>大豆</li>
                                                    <li>谷物</li>
                                                    <li>坚果</li>
                                                    <li>中西药品</li>
                                                    <li>天然提取物</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-xs-7">
                                                <ul>
                                                    <li>天然等同</li>
                                                    <li>调味品</li>
                                                    <li>精油</li>
                                                    <li>功能性配料</li>
                                                    <li>专业喷雾干燥</li>
                                                    <li>人造黄油和特种油脂</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-12 col-md-6"><img src="images/Flavor-portfolio.png"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid curated-flavor-porfolio light-wrapper vc_row wpb_row vc_row-fluid curated-flavor-porfolio  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <div class="equal-heights row">
                                                <div class="col-sm-6 curated-flavor-porfolio_list col-xs-12">
                                                    <h1>CURATED</h1>
                                                    <p>FLAVOR PORTFOLIO</p>

                                                    <div class="col-sm-6 col-xs-5 curated-flavor-porfolio_list">
                                                        <ul>
                                                            <li>巴西莓</li>
                                                            <li>奶油</li>
                                                            <li>加利福尼亚橙</li>
                                                            <li>芦荟</li>
                                                            <li>黄瓜</li>
                                                            <li>橙（佛罗里达品种）</li>
                                                            <li>苹果（脆红）</li>
                                                            <li>牛奶太妃</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-7">
                                                        <ul>
                                                            <li>苦杏仁</li>
                                                            <li>刺果番荔枝</li>
                                                            <li>青梅</li>
                                                            <li>黑加仑</li>
                                                            <li>木槿</li>
                                                            <li>石榴</li>
                                                            <li>蓝莓</li>
                                                            <li>金银花</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 curated-flavor-porfolio_list col-xs-12 curated-flavor-portfolio__image1 has-autosized-children"><img class="autosize" src="images/Bitmap-3.png"/></div>
                                            </div>
                                            <div class="equal-heights row">
                                                <div class="col-sm-12 col-xs-12 curated-flavor-porfolio_listed">
                                                    <div class="col-sm-6 curated-flavor-porfolio_list_img"></div>
                                                    <div class="col-sm-6 curated-flavor-porfolio_list col-xs-12">
                                                        <div class="col-sm-6 col-xs-5 curated-flavor-porfolio_listing">
                                                            <ul>
                                                                <li>樱桃（黑色）</li>
                                                                <li>柠檬草</li>
                                                                <li>草莓（图腾品种）</li>
                                                                <li>巧克力</li>
                                                                <li>酸橙</li>
                                                                <li>草莓香蕉</li>
                                                                <li>肉桂面包</li>
                                                                <li>荔枝</li>
                                                                <li>超级果</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-7 curated-flavor-porfolio_listing">
                                                            <ul>
                                                                <li>浓咖啡</li>
                                                                <li>甜瓜</li>
                                                                <li>太妃糖</li>
                                                                <li>苏门答腊咖啡</li>
                                                                <li>牛奶（新鲜）</li>
                                                                <li>香草</li>
                                                                <li>哥伦比亚咖啡</li>
                                                                <li>混合浆果</li>
                                                                <li>西瓜</li>
                                                            </ul>
                                                        </div>
                                                        <h2>超过 6,000 种</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid product-application light-wrapper vc_row wpb_row vc_row-fluid product-application  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <h1>产品应用开发</h1>
                                            <p>蓝太平洋的开发实验室，完整地配备了饮料、糖果、冰淇淋、乳制品和烘培的生产设备。我们的饮料创新设施包括最先进的微热型蒸汽注入系统，带有在线同质化功能和清洁罩，能准确地预见在客户实际生产中产品和香料是如何反应的。</p>
                                            <p><img src="images/Group 3.png"/></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid customized-section row light-wrapper vc_row wpb_row vc_row-fluid customized-section row  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <div class="col-sm-12 col-md-6">
                                                <h1>定制饮料、营养棒和冰淇淋开发</h1>
                                                <p>蓝太平洋香精的业务能力，包括定制型的产品开发服务，能为客户提供成品配方的低成本开发方式。针对此项服务，我们有饮料或食品应用团队，他们专注于将成品饮料概念进行商业化，并研发营养棒的配方。具体方式为对产品进行加速细菌繁殖实验，来测定其颜色、口味的损失及其稳定性，据此评估产品的保质期；且所有这些都没有额外的费用。在有需求的情况下，还可以提供试运行咨询指导及其它分包服务，为饮料、营养棒和冰淇淋工厂在试营业期间提供帮助。</p>
                                            </div>
                                            <div class="col-sm-12 col-md-6 cleanlabels-logos"><img src="images/ice-cream.png"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid resaerch-development light-wrapper vc_row wpb_row vc_row-fluid resaerch-development  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <div class="col-sm-12 col-md-6 resaerch-development_list has-autosized-children"><img class="autosize" src="images/Bitmap.png"/></div>
                                            <div class="col-sm-12 col-md-6 resaerch-development_listed">
                                                <h1>生产和研究设施</h1>
                                                <p>在很多天然香料和风味改良剂产成品方面，蓝太平洋是最好的创新践行者。不管是独特的流变性和质地还是复杂的酸度和浓郁型甜味材料，我们食品和饮料团队的目标，是为当地和全球的消费者找到最佳的口味。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid capture-essence-section light-wrapper vc_row wpb_row vc_row-fluid capture-essence-section  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h1>从1993年开始，汲取新鲜水果的精华</h1>
                                        <p>从蓝太平洋这里发现真实且天然的香料、植物调节剂和全食品配料。</p>
                                        <p><a class="bp-button capture-essence-section__request-a-sample-button" href="#" data-target="#requestSampleModal" data-toggle="modal">索取样品</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</@layout.page>