<#import "layout/layout.ftl" as layout/>
<@layout.page selId="contact">
<div class="main-container">
    <section class="vc_row wpb_row vc_row-fluid heritage-section light-wrapper vc_row wpb_row vc_row-fluid heritage-section  ">
        <div class="container">
            <div class="row ">
                <div class="wpb_column vc_column_container col-md-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="conyainer">
                                        <div class="col-sm-12">
                                            <h1>我们的传统 &amp; 远景</h1>
                                            <p>我们秉承Farm to Flavor TM的理念，创造最真实的天然香精、植物性修饰剂和全食物配料。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="vc_row wpb_row vc_row-fluid spirit-section row light-wrapper vc_row wpb_row vc_row-fluid spirit-section row vision">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container col-md-12">
                    <div class="vc_column-inner">

                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="container">
                                        <h2>BLUE Pacific<sup>TM</sup> Flavors Fragrances,Inc.<sup>TM</sup></h2>

                                        <h1 style="margin-bottom: 0;">Corporate Headquarters</h1>
                                        <p>1354 South Marion Court<br/>
                                            City of Industry,California91745,U.S.A<br/>
                                            Telephone:(626)934-0099<br/>
                                            Facsimile:(626)934-0089<br/>
                                            E-mail:orders@bpflavors.com</p>

                                        <h1 style="margin-bottom: 0;">蓝太平洋香精（苏州）有限公司</h1>
                                        <p>苏州工业园区东富路东景工业坊52幢P.R.China215123<br/>
                                            Telephone:86-512-65477118<br/>
                                            Facsimile:86-512-65477998<br/>
                                            E-mail:sales@bluepacificchina.com</p>

                                        <h1 style="margin-bottom: 0;"> Blue Pacific Asia</h1>
                                        <p>E-2-22, IOI Boulevard Puchong<br/>
                                            Selangor,Malaysia<br/>
                                            Telephone:6-03-80759082<br/>
                                            Facsimile:6-03-80737227<br/>
                                            E-mail:jenny@bpflavors.com</p>

                                        <h1 style="margin-bottom: 0;"> Blue Pacific Korea</h1>
                                        <p>#501,Hyunjin Olympia-Gu,<br/>
                                            Seoul 138-160 Korea<br/>
                                            Telephone:82-2-400-0575<br/>
                                            Facsimile:82-2-400-0576<br/>
                                            E-mail:kenny@bpflavors.com
                                        </p>
                                        <p><img src="images/bpffarmlogo2.png" style="width: 140px; height: auto;"> </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
</div>
</@layout.page>