<#import "layout/layout.ftl" as layout/>
<@layout.page selId="expertise">
<div class="main-container">
    <div class="ebor-page-wrapper">
        <a id="home" class="in-page-link" href="#"></a>
        <section class="vc_row wpb_row vc_row-fluid expertise-section light-wrapper vc_row wpb_row vc_row-fluid expertise-section  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="conyainer">
                                            <div class="col-sm-12">
                                                <h1>创新 &amp; 专业</h1>
                                                <p>全球监管、供应链能力和制造能力支持The Essence of Imagination® 的设计理念。The Essence of Imagination® 产品设计理念之实现，得益于遵循全球法律法规、稳定的供应链和制造力。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid mothres-nature row light-wrapper vc_row wpb_row vc_row-fluid mothres-nature row  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <div class="col-sm-12 col-md-6">
                                                <h1>大自然母亲的纯水果香料食谱</h1>
                                                <p>我们与Plant & Food Research（原先的HortResearch）建立了伙伴关系，这有助于我们创造下一代的世界级天然水果香料和天然水果配料。hortRealfruit™源自于实时合作，也受助于于Plant & Food无与伦比的水果化合物数据库。天然香料的研发使用了专有的水果衍生科学，并基于最先进的香气化学和溶剂提取分析论文。我们开发的新型水果香料，完全符合原有水果的味道，也完全符合大自然母亲的食谱。</p>
                                            </div>
                                            <div class="col-sm-12 col-md-6 cleanlabels-logos"><img src="images/Bitmap-9.png"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid madagascar light-wrapper vc_row wpb_row vc_row-fluid madagascar  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container equal-heights">
                                            <div class="col-sm-6 has-autosized-children madagascar_list"><img class="autosize" src="images/Bitmap-6.png"/></div>
                                            <div class="col-sm-6 madagascar_listed">
                                                <h1>马达加斯加的香草提取伙伴关系</h1>
                                                <p>通过与马达加斯加方面建立战略生产伙伴关系，蓝太平洋可提供全系列的100%波旁香草提取物和香草油树脂。我们通过在马达加斯加东北海岸的垂直整合加工站对豆子进行加工。通过这个独特的工序，我们能够手动选取质量最好的豆子，并在超过一般湿度的情况下进行提取。我们能提供带有最高波旁品质的无与伦比的香料和香味，而其它的香精加工厂，因为用于出口目的，他们的豆子湿度更低，这就会造成香味的损失。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid simply-grain-section row light-wrapper vc_row wpb_row vc_row-fluid simply-grain-section row  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container equal-heights">
                                            <div class="col-sm-6 col-xs-12 text-tile">
                                                <h1>SimplyGrains<sup>TM</sup> 全食品浆料</h1>
                                                <p>SimplyPlant™ 是一系列由谷物、坚果或种子制成的全食品成分浆料。这些全食品成分浆料包括Heirloom Whole Grain和7种全谷物燕麦糊，Salba®全嘉种子，坚果糊（含加利福尼亚杏仁、开心果和腰果）。这些浆料多为冷冻或冷藏状态，是可随时取用的已烹饪的全谷物、坚果或种子，带有简洁明了的标签，适合非乳制品饮料、辅助乳制品产品或者酸奶。很多这样的浆料有非转基因项目认证和QAI有机认证。</p>
                                            </div>
                                            <div class="col-sm-6 has-autosized-children col-xs-12 unpadded"><img class="autosize" src="images/grains.png"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid pure-plant light-wrapper vc_row wpb_row vc_row-fluid pure-plant  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container equal-heights">
                                            <div class="col-sm-12 pure-plant_listed">
                                                <div class="col-sm-6 has-autosized-children pure-plant_listed"><img class="autosize" src="images/coffee.png"/></div>
                                                <div class="col-sm-6 pure-plant_listing">
                                                    <h1>Cold Brewed Coffee Extracts</h1>
                                                    <p>Our cold brewed coffee extracts are available as natural and organic to provide robust flavor while being less acidic than hot-brewed coffee.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid pure-plant light-wrapper vc_row wpb_row vc_row-fluid pure-plant  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container equal-heights">
                                            <div class="col-sm-6 pure-plant_list">
                                                <div class="row">
                                                    <h1>PurePlant<sup>TM</sup></h1>

                                                    <h2>A-liminate<sup>TM</sup> Natural Modifer</h2>
                                                    <p>A-liminate™是一种植物性的天然调味剂，可消除成品饮料中的甜菊糖（Stevia/Reb-A）余味。它可以消除饮品中的金属味并提高流变性和口感，以便更好地融入低糖饮料。</p>

                                                    <h2>Sucramask<sup>®</sup> and Sucramate<sup>TM</sup> Natural Sweetener Modifer</h2>
                                                    <p>SucraMask®和SucraMate™是谷物性的天然甜味剂，可消除高强甜味剂（如stevia/Reb-A）残存的甜味和金属味。这种调味剂突出水果和酒精的口味，同时能通过整合高强甜味剂的甜、酸和香来改善整体口味。</p>

                                                    <h2>A Zatitate<sup>TM</sup> Natural Astringency Modifer</h2>
                                                    <p>Zatiate™是一种天然调味剂，可以用在饮料开发方面，减少多种饮料和大豆的涩味。这种独特的调味剂可以提供不同寻常的流变性和口感，适用于矿物质和维生素强化饮料以及蛋白饮料。</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 has-autosized-children pure-plant_list"><img class="autosize" src="images/orange-ladders-2.png"/></div>
                                        </div>
                                        <div class="container equal-heights">
                                            <div class="col-sm-6 has-autosized-children pure-plant_listed"><img class="autosize" src="images/Bitmap-8.png"/></div>
                                            <div class="col-sm-6 pure-plant_listing">
                                                <h1>汲取新鲜水果的精华</h1>
                                                <p>体验真正的全水果味道，获取真正独特、多维的味觉感受。我们与加利福尼亚、太平洋西北地区和东南亚的果农和加工商建立了农业战略伙伴关系，因此我们拥有绝佳优势，可以打入新鲜水果原料供应链，生产出以全水果提取物为主要成分的天然香料—绝不含有传统的化学溶剂。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid capture-essence-section light-wrapper vc_row wpb_row vc_row-fluid capture-essence-section  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h1>从1993年开始，汲取新鲜水果的精华</h1>
                                        <p>从蓝太平洋这里发现真实且天然的香料、植物调节剂和全食品配料。</p>
                                        <p><a class="bp-button capture-essence-section__request-a-sample-button" href="#" data-target="#requestSampleModal" data-toggle="modal">索取样品</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</@layout.page>