<#import "layout/layout.ftl" as layout/>
<@layout.page selId="index">
<div class="main-container">
    <div class="ebor-page-wrapper">
        <a id="home" class="in-page-link" href="#"></a>
        <p><a id="bp-main" class="in-page-link" href="#"></a>
            <section id="bp-main"
                     class="vc_row wpb_row vc_row-fluid bp-main full vc_row wpb_row vc_row-fluid bp-main no-pad">
                <div class="wpb_column vc_column_container col-md-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="header header-1 fixed-header">
                                <div class="background-image-holder">
                                    <img width="1366" height="683" src="images/MountainsGroves121518.png"
                                         class="background-image" alt="mountainsgroves121518"/></div>
                                <div class="container">
                                    <div class="row v-align-children">
                                        <div class="col-md-6 header-content">
        <p><img class="bp-main__farm-to-flavor alignnone wp-image-661 size-medium" src="images/farm-to-flavor-1.png"
                width="300" height="194"/></p>
    </div>
    <div class="col-md-6">
        <div class="inner">
            <div role="form" class="wpcf7" id="wpcf7-f250-p160-o2" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="/#wpcf7-f250-p160-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="250"/>
                        <input type="hidden" name="_wpcf7_version" value="4.5.1"/>
                        <input type="hidden" name="_wpcf7_locale" value=""/>
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f250-p160-o2"/>
                        <input type="hidden" name="_wpnonce" value="07ec333afe"/>
                    </div>
                    <ul>
                        <li>
                            <h1 class="top-text_white">索取样品</h1>
                        <li>
                            <p class="text-white">
                                想象一下，注入水果的发泡饮料或杏仁牛奶沙冰？我们可以帮你将其带到现实生活中。从蓝太平洋这里发现真实且天然的香料、植物调节剂和全食品配料。</p>
                        </li>
                    </ul>
                    <div class="form-holder contained-form form-email">
															<span class="wpcf7-form-control-wrap your-name"><input
                                                                    type="text" name="your-name" value=""
                                                                    size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                    aria-required="true" aria-invalid="false"
                                                                    placeholder="Name"/></span><br/>
                        <span class="wpcf7-form-control-wrap your-company"><input type="text" name="your-company"
                                                                                  value="" size="40"
                                                                                  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                  aria-required="true"
                                                                                  aria-invalid="false"
                                                                                  placeholder="Company Name"/></span><br/>
                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value=""
                                                                                size="40"
                                                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                aria-required="true"
                                                                                aria-invalid="false"
                                                                                placeholder="Email Address"/></span><br/>
                        <span class="wpcf7-form-control-wrap your-state"><select name="your-state"
                                                                                 class="wpcf7-form-control wpcf7-select"
                                                                                 aria-invalid="false">
																<option value="">Choose State</option>
																<option value="Alaska">Alaska</option>
																<option value="Alabama">Alabama</option>
																<option value="Arkansas">Arkansas</option>
																<option value="Arizona">Arizona</option>
																<option value="California">California</option>
																<option value="Colorado">Colorado</option>
																<option value="Connecticut">Connecticut</option>
																<option value="Delaware">Delaware</option>
																<option value="Florida">Florida</option>
																<option value="Georgia">Georgia</option>
																<option value="Hawaii">Hawaii</option>
																<option value="Iowa">Iowa</option>
																<option value="Idaho">Idaho</option>
																<option value="Illinois">Illinois</option>
																<option value="Indiana">Indiana</option>
																<option value="Kansas">Kansas</option>
																<option value="Kentucky">Kentucky</option>
																<option value="Louisiana">Louisiana</option>
																<option value="Massachusetts">Massachusetts</option>
																<option value="Maryland">Maryland</option>
																<option value="Maine">Maine</option>
																<option value="Michigan">Michigan</option>
																<option value="Minnesota">Minnesota</option>
																<option value="Missouri">Missouri</option>
																<option value="Mississippi">Mississippi</option>
																<option value="Montana">Montana</option>
																<option value="North Carolina">North Carolina</option>
																<option value="North Dakota">North Dakota</option>
																<option value="Nebraska">Nebraska</option>
																<option value="New Hampshire">New Hampshire</option>
																<option value="New Jersey">New Jersey</option>
																<option value="New Mexico">New Mexico</option>
																<option value="Nevada">Nevada</option>
																<option value="New York">New York</option>
																<option value="Ohio">Ohio</option>
																<option value="Oklahoma">Oklahoma</option>
																<option value="Oregon">Oregon</option>
																<option value="Pennsylvania">Pennsylvania</option>
																<option value="Rhode Island">Rhode Island</option>
																<option value="South Carolina">South Carolina</option>
																<option value="South Dakota">South Dakota</option>
																<option value="Tennessee">Tennessee</option>
																<option value="Texas">Texas</option>
																<option value="Utah">Utah</option>
																<option value="Virginia">Virginia</option>
																<option value="Vermont">Vermont</option>
																<option value="Washington">Washington</option>
																<option value="Wisconsin">Wisconsin</option>
																<option value="West Virginia">West Virginia</option>
																<option value="Wyoming">Wyoming</option>
																<option value="District of Columbia">District of Columbia</option>
															</select></span><br/>
                        <span class="wpcf7-form-control-wrap your-industry"><select name="your-industry"
                                                                                    class="wpcf7-form-control wpcf7-select"
                                                                                    aria-invalid="false">
																<option value="Industry">Industry</option>
																<option value="Food">Food</option>
																<option value="Retail">Retail</option>
																<option value="Marketing">Marketing</option>
																<option value="Sales">Sales</option>
																<option value="IT">IT</option>
															</select></span><br/>
                        <span class="wpcf7-form-control-wrap your-phone"><input type="number" name="your-phone" value=""
                                                                                class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number"
                                                                                aria-required="true"
                                                                                aria-invalid="false"
                                                                                placeholder="Phone Number"/></span><br/>
                        <span class="wpcf7-form-control-wrap comment"><textarea name="comment" cols="40" rows="10"
                                                                                class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                                                aria-required="true"
                                                                                aria-invalid="false"
                                                                                placeholder="Comment"></textarea></span><br/>
                        <input type="submit" value="Request a Sample" class="wpcf7-form-control wpcf7-submit"/>
                    </div>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<a id="capturing-essence" class="in-page-link" href="#"></a>
<section id="capturing-essence" class="vc_row wpb_row vc_row-fluid light-wrapper vc_row wpb_row vc_row-fluid  ">
    <div class="container">
        <div class="row v-align-children">
            <div class="wpb_column vc_column_container col-md-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left   capture-essence-section__image">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper vc_box_border_grey">
                                    <img width="820" height="558" src="${cpath}/images/FarmStandLogo-1.png"
                                         class="vc_single_image-img attachment-full" alt="farmstandlogo"
                                         srcset="${cpath}/images/FarmStandLogo-1.png 820w, ${cpath}/images/FarmStandLogo-1-300x204.png 300w, ${cpath}/images/FarmStandLogo-1-768x523.png 768w"
                                         sizes="(max-width: 820px) 100vw, 820px"/>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-md-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h4>汲取新鲜水果的精华</h4>
                                <p class="p1"><span class="s1">体验真正的全水果味道，获取真正独特、多维的味觉感受。我们与加利福尼亚、太平洋西北地区和东南亚的果农和加工商建立了农业战略伙伴关系，因此我们拥有绝佳优势，可以打入新鲜水果原料供应链，生产出以全水果提取物为主要成分的天然香料---绝不含有传统的化学溶剂。</span>
                                </p>
                                <p><a class="capture-essence-section__more-flavors_button" href="">了解更多</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section
        class="vc_row wpb_row vc_row-fluid a-heritage-section light-wrapper vc_row wpb_row vc_row-fluid a-heritage-section  ">
    <div class="container">
        <div class="row ">
            <div class="wpb_column vc_column_container col-md-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h1>纯正天然的传承<sup>TM</sup></h1>
                                <p>我们的传承是重新塑造消费者的口味趋势，然后进行创新。</p>

                                <div class="heritage-row">
                                    <div class="heritage-content">
                                        <h1>1993年<br/>
                                            以来</h1>
                                        <p>自1993年以来，我们逐渐发展成为一家私营家庭企业，并且坚持探索差异化和创新化的发展道路。</p>
                                    </div>
                                    <div class="heritage-content">
                                        <h1>第一套香料<br/>
                                            输送系统</h1>
                                        <p>我们引入了第一套天然香料输送系统，该系统只使用有机糖和有机甘油的，不添加任何化学物质或酒精溶剂。</p>
                                    </div>
                                    <div class="heritage-content">
                                        <h1>纯正<br/>
                                            天然</h1>
                                        <p>如今，唯有我们的香料店能提供满足非转基因项目要求的香料。我们满怀激情，志在创造纯正天然（Authentic to
                                            Nature™）的产品，满足当今不断变化的消费需求。</p>
                                    </div>
                                </div>
                                <p><a class="heritage-button" href="/heritage-vision">了解更多</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section
        class="vc_row wpb_row vc_row-fluid cleanlabels-section row light-wrapper vc_row wpb_row vc_row-fluid cleanlabels-section row  ">
    <div class="container">
        <div class="row ">
            <div class="wpb_column vc_column_container col-md-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <div class="container">
                                    <div class="col-md-6 col-sm-12">
                                        <h1>清洁标签，简单天然的香料</h1>
                                        <p>
                                            消费者对食品透明度诉求越来越高，而关于问题标签声明的诉讼不断涌现，关于何为真正天然食品的定义一片混乱。我们正在与食品和饮料公司合作，通过创造出清洁标签的天然水果香料维持他们产品的完整性，因为按重量计算，全水果提取物被用作最主要的配料成分，基于这一点，我们可以做出简洁的成分声明。</p>
                                        <p><a class="bp-button cleanlabels-more-button"
                                              href="clean-label-transparency.html">了解更多</a></p>
                                    </div>
                                    <div class="col-md-6 col-sm-12 cleanlabels-logos"><img
                                            src="images/trust-logos.png"/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section
        class="vc_row wpb_row vc_row-fluid capture-essence-section light-wrapper vc_row wpb_row vc_row-fluid capture-essence-section  ">
    <div class="container">
        <div class="row ">
            <div class="wpb_column vc_column_container col-md-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <h1>从1993年开始，汲取新鲜水果的精华</h1>
                                <p>从蓝太平洋这里发现真实且天然的香料、植物调节剂和全食品配料。</p>
                                <p><a class="bp-button capture-essence-section__request-a-sample-button" href="#"
                                      data-target="#requestSampleModal" data-toggle="modal">索取样品</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</@layout.page>