<#import "layout/layout.ftl" as layout/>
<#import "fornewspage.html" as page/>
<@layout.page selId="news">

<div class="main-container">
    <div class="news-insights-section">
        <div class="conyainer">
            <div class="col-sm-12">
                <h1>展会记</h1>

                <p>BPF展览和参与工业博览会的清单</p>
            </div>
        </div>
    </div>
    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-9 news-1 news-section news-insights-section_non_gmo">
                    <div class="container">
                        <#if (result.data?size>0)>
                            <#list result.data as items>
                                <article class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="post-thumb">
                                            <a href="/newsDetail?id=${items.id!}"
                                               title="Nature and wildlife photography tips"
                                               class="">${items.picture!}</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <h1>
                                            <a href="#" title="Nature and wildlife photography tips">${items.title!}</a>
                                        </h1>

                                        <p>
                                            ${items.comments!}
                                            <a href="/newsDetail?id=${items.id!}" title="Read full post">Read more</a>
                                        </p>
                                        <p class="date" datetime="2013-03-05T09:00:08+00:00">
                                            ${items.createDt?string('yyyy-MM-dd')!}</p>
                                    </div><!-- .entry-list-right -->
                                </article>
                            </#list>
                            <#else>
                                <div class="row"><h1>没有合适的新闻数据</h1></div>
                        </#if>
                        <div class="number-list">
                            <@page.paging pagination=result.page action="/news.html" />
                        </div>
                    </div>
                </div>
                <aside class="col-md-3 hidden-sm">
                    <div id="search-2" class="sidebox widget widget_search">
                        <form class="search" method="post" id="searchform" action="news.html">
                            <input type="text" id="s2" name="keyWord" placeholder="">
                        </form>
                    </div>
                    <div id="categories-2" class="sidebox widget widget_categories"><h6 class="light">分类</h6>
                        <hr>
                        <ul>
                            <li class="cat-item-none">新闻公告</li>
                        </ul>
                    </div>
                </aside>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
</div>
<!--新闻页面查询js-->
<script type="text/javascript">
    jQuery(function () {
        document.onkeydown = function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) { // enter 键
                jQuery(".search").submit(); //要做的事情
            }
        }
    });
</script>
</@layout.page>