<#import "layout/layout.ftl" as layout/>
<@layout.page selId="cleanlable">
<div class="main-container">
    <div class="ebor-page-wrapper unpadded-sections">
        <a id="home" class="in-page-link" href="#"></a>
        <section class="vc_row wpb_row vc_row-fluid clean-label-section light-wrapper vc_row wpb_row vc_row-fluid clean-label-section  "><div class="container"><div class="row "><div class="wpb_column vc_column_container col-md-12"><div class="vc_column-inner "><div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="container">
                        <div class="col-sm-12">
                            <h1>CLEAN LABEL TRANSPARENCY</h1>
                            <p>我们响应并呼吁着食品和饮料的清洁标签。</p>
                        </div>
                    </div>

                </div>
            </div>
        </div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid non-gmo-section row light-wrapper vc_row wpb_row vc_row-fluid non-gmo-section row  "><div class="container"><div class="row "><div class="wpb_column vc_column_container col-md-12"><div class="vc_column-inner "><div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <div class="container equal-heights">
                    <div class="col-sm-12 col-md-6">
                        <h1>天然香料，已验证</h1>
                        <p>蓝太平洋香精的业务能力，包括定制型的产品开发服务，能为客户提供成品配方的低成本开发方式。针对此项服务，我们有饮料或食品应用团队，他们专注于将成品饮料概念进行商业化，并研发营养棒的配方。具体方式为对产品进行加速细菌繁殖实验，来测定其颜色、口味的损失及其稳定性，据此评估产品的保质期；且所有这些都没有额外的费用。在有需求的情况下，还可以提供试运行咨询指导及其它分包服务，为饮料、营养棒和冰淇淋工厂在试营业期间提供帮助。</p>
                    </div>
                    <div class="col-sm-12 col-md-6 cleanlabels-logos"><img src="images/bitmap-14.png" /></div>
                </div>

            </div>
        </div>
    </div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid project-verified light-wrapper vc_row wpb_row vc_row-fluid project-verified  "><div class="container"><div class="row "><div class="wpb_column vc_column_container col-md-12"><div class="vc_column-inner "><div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <div class="container equal-heights">
                    <div class="col-sm-6 has-autosized-children project-verified_listed"><img class="autosize" src="images/Group-4.png" /></div>
                    <div class="col-sm-6 project-verified_list">
                        <h1>非转基因项目认证的产品包括：</h1>
                        <ul>
                            <li>带其它天然风味的（WONF）天然桃</li>
                            <li>WONF 天然草莓</li>
                            <li>WONF 天然蓝莓</li>
                            <li>WONF 天然芒果</li>
                            <li>天然浓缩咖啡</li>
                            <li>WONF 天然木槿</li>
                            <li>WONF 天然胡萝卜</li>
                            <li>WONF 天然香草</li>
                            <li>WONF 天然巧克力</li>
                            <li>Synature<sup>TM</sup> 饮料口感调节剂香精</li>
                        </ul>
                    </div>
                </div>
                <div class="container equal-heights project-verified_listing">
                    <div class="col-sm-6 project-verified_list">
                        <h1>清洁标签，世界上的任何地方</h1>
                        <p>在与欧盟标准做对比时，对于美国食品和药物管理局认为什么可以被标记为天然香料，我们能有很好的理解，而且也理解这会为全球性的食品公司带来什么样的挑战。美国多数的香料生产会使用天然芳香化学成分进行发酵，以此来开发天然水果香料；不过就柑橘而言，行业里用外购的柑橘油和副产品来制出天然柑橘香料。美国和欧盟规定的标准之间的差异，让跨国的饮料公司处于不利局面，因为这影响到天然香料产品的配方、标签和营销。了解我们的农场站全食品香料是如何获得美国和欧盟市场认可的。</p>
                    </div>
                    <div class="col-sm-6 has-autosized-children project-verified_listed"><img class="autosize" src="images/Bitmap-15.png" /></div>
                </div>

            </div>
        </div>
    </div></div></div></div></div></section><section class="vc_row wpb_row vc_row-fluid capture-essence-section light-wrapper vc_row wpb_row vc_row-fluid capture-essence-section  "><div class="container"><div class="row "><div class="wpb_column vc_column_container col-md-12"><div class="vc_column-inner "><div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <h1>从1993年开始，汲取新鲜水果的精华</h1>
                <p>从蓝太平洋这里发现真实且天然的香料、植物调节剂和全食品配料。</p>
                <p><a class="bp-button capture-essence-section__request-a-sample-button" href="#" data-target="#requestSampleModal" data-toggle="modal">索取样品</a></p>
            </div>
        </div>
    </div></div></div></div></div></section>
    </div>
</div>
</@layout.page>