<#import "layout/layout.ftl" as layout/>
<@layout.page selId="vision">
<div class="main-container">
    <div class="ebor-page-wrapper">
        <a id="home" class="in-page-link" href="#"></a>
        <section class="vc_row wpb_row vc_row-fluid heritage-section light-wrapper vc_row wpb_row vc_row-fluid heritage-section  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="conyainer">
                                            <div class="col-sm-12">
                                                <h1>我们的传统 &amp; 远景</h1>
                                                <p>我们秉承Farm to Flavor TM的理念，创造最真实的天然香精、植物性修饰剂和全食物配料。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid spirit-section row light-wrapper vc_row wpb_row vc_row-fluid spirit-section row  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <div class="col-sm-12 col-md-6">
                                                <h1>探索和好奇的精神引导我们</h1>
                                                <p>作为蓝太平洋香精的总裁和CEO，Donald Wilkes在食品和饮料行业有着超过35年经验，主要在美洲、亚洲和欧洲从事创新型的食品香料开发。唐纳德在1993年创立了私人所有的蓝太平洋香精，并于2005年在苏州创立了该公司100%持股的蓝太平洋香精（苏州）有限公司，后者既是生产工厂，也是香料和产品研发实验室。</p>
                                            </div>
                                            <div class="col-sm-12 col-md-6 spirit-logos">
                                                <h2>Discovering Heirlooms with Donald Wilkes</h2>

                                                <h2>
                                                    <iframe src="http://player.youku.com/embed/XMjUxMzA2ODgyMA==" width="499" height="288" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid ceo-vision-section light-wrapper vc_row wpb_row vc_row-fluid ceo-vision-section  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <h1>&#8220;我们通过长期可持续的供应链，创造真实而天然的食品配料，以迎合当今消费者的价值趋向。&#8221;</h1>
                                            <p>Donald Wilkes, CEO</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid vision light-wrapper vc_row wpb_row vc_row-fluid vision  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <h2>Our Vision Beyond the Horizon</h2>

                                            <div class="col-sm-4 col-xs-6">
                                                <p><img src="images/Bullish.png"/></p>

                                                <h1>了解消费趋势</h1>
                                                <p>我们的团队兼具才华和激情，他们了解消费趋势，正在深入论证的基础上，创造下一代的天然香料和创新型的全食品配料。</p>
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <p><img src="images/Goal.png"/></p>

                                                <h1>我们的远景</h1>
                                                <p>我们的愿景，是通过农场到香料的理念来创造纯正的水果和甜品香料以及全食品配料。</p>
                                            </div>
                                            <div class="col-sm-4 col-xs-6">
                                                <p><img src="images/Greentech.png"/></p>

                                                <h1>创新</h1>
                                                <p>作为与当地农场的战略伙伴关系和制造商，促使我们在天然、有机、真水果和全植物之香精产品的创新。</p>
                                            </div>
                                            <div class="col-sm-12 vision-list">
                                                <div class="col-sm-4 col-xs-6">
                                                    <p><img src="images/Globe Asia.png"/></p>

                                                    <h1>全球投入</h1>
                                                    <p>我们在世界各地开展业务，这让我们也去往世界各地寻找新的配料——从马达加斯加的丛林到东南亚的雨林。</p>
                                                </div>
                                                <div class="col-sm-4 col-xs-6">
                                                    <p><img src="images/Water.png"/></p>

                                                    <h1>独特的香精</h1>
                                                    <p>我们寻找独特的有异国情调的水果和植物原料，用于创造下一种新的天然香料或有机香料。</p>
                                                </div>
                                                <div class="col-sm-4 col-xs-6">
                                                    <p><img src="images/Conference.png"/></p>

                                                    <h1>优秀的团队</h1>
                                                    <p>通过我们团队的努力工作，我们将持续创造独特并有想象力的天然香料和配料。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid california-world light-wrapper vc_row wpb_row vc_row-fluid california-world  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div class="container">
                                            <div class="col-sm-6 california-world_list">
                                                <h1>从加利福尼亚到全球</h1>
                                                <p>我们与加利福尼亚、太平洋西北地区和东南亚的果农和加工商建立了农业战略伙伴关系，因此我们拥有绝佳优势，可以打入新鲜水果原料供应链，生产出以全水果提取物为主要成分的天然香料—绝不含有传统的化学溶剂。</p>
                                            </div>
                                            <div class="col-sm-6 california-world_listed"><img class="autosize" src="images/Bitmap-11.png"/></div>
                                            <div class="col-sm-12 california-world_listing">
                                                <div class="col-sm-6 california-world_listed has-autosized-children"><img class="autosize" src="images/Bitmap-12.png"/></div>
                                                <div class="col-sm-6 california-world_list">
                                                    <h1>可持续性</h1>
                                                    <p>全球变暖影响了农业水果加工和全球作物，这激发我们开发环保和可持续型的商业解决方案。从可持续经营到员工激励，我们相信这样的可持续商业策略：不仅解决资源的合理消耗问题，也专注于同其它公司结成的社会责任同盟，例如“植物和食品研究公司”（Plant and Food Research），我们开发新技术提高水果和农作物产量，以保护未来的全球供应。我们很骄傲能成为Waste Wise的代言人和成员，Waste Wise是美国环境保护署发起的伙伴关系，旨在帮助企业用环保的方式处理材料和废物。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid capture-essence-section light-wrapper vc_row wpb_row vc_row-fluid capture-essence-section  ">
            <div class="container">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h1>从1993年开始，汲取新鲜水果的精华</h1>
                                        <p>从蓝太平洋这里发现真实且天然的香料、植物调节剂和全食品配料。</p>
                                        <p><a class="bp-button capture-essence-section__request-a-sample-button" href="#" data-target="#requestSampleModal" data-toggle="modal">索取样品</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</@layout.page>